
configuration {
	font:							"Iosevka Nerd Font 14";
    show-icons:                     true;
	icon-theme: 					"Papirus";
    display-drun: 					"";
    disable-history:                false;
	sidebar-mode: 					false;
}


* {
  width: 800px;
  height: 800px;
  cols: 2;
}

@import "base.rasi"
