
configuration {
	font:							      "MesloLGS NF 14";
  show-icons:             true;
	icon-theme: 					  "Papirus";
  display-drun: 					"";
  drun-display-format:    "{name}";
  disable-history:        false;
	sidebar-mode: 					false;
}


* {
  width: 300px;
  cols: 1;
  placeholder: "Powermenu";
}

@import "base.rasi"
